html {
    background-color: #1E1616;
}

.banner {
    max-width: 70%;
    height: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
}

p{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 5%;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    font-weight: 1000;
}

ul{
    display: flex;
    justify-content: center;
}

li{
    display: flex;
    text-align: left;
    margin: 2.5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
    font-weight: 1000;
}