<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure Login</title>
</head>
<body style="background-color: #1E1616;display: flex;flex-direction: column;align-items: center;">
  <img src="/static/banner.png" style="max-width: 70%;height: 50%;margin: auto;display: flex;justify-content: center;" alt="DualAuth Logo">
  <h2 style="color:green;font-size: 350%;">Secure Login</h2>
  <form method="POST">
    <div style="display: block;">
      <p style="color: white;font-size: 150%;">Username:</p><input style="font-size: 150%;" type="text" name="username"><br><br>
      <p style="color: white;font-size: 150%;">Password:</p><input style="font-size: 150%;" type="password" name="password"><br><br>
    </div>
    <button style="background-color: green;color: white;font-size: 150%;" type="submit">Login</button>
  </form>
  <p ><a style="color:white" href="/">&lt;Back</a></p>
</body>
</html>


