<!doctype html>
<html>
<head><title>Vulnerable Login</title></head>
<body style="background-color: #1E1616;display: flex;flex-direction: column;align-items: center;">
  <h2 style="color:red;font-size: 350%;">Vulnerable Login</h2>
  <form method="POST">
    <div style="display: block;">
      <p style="color: white;font-size: 150%;">Username:</p><input style="font-size: 150%;" type="text" name="username"><br><br>
      <p style="color: white;font-size: 150%;">Password:</p><input style="font-size: 150%;" type="password" name="password"><br><br>
    </div>
    <button style="background-color: green;color: white;font-size: 150%;" type="submit">Login</button>
  </form>
  <p ><a style="color:white" href="/">&lt;Back</a></p>
</body>
</html>

